# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Kicad pcb and schematics backup files
*.sch-bak
*.kicad_pcb-bak
_autosave*
\#auto_saved_files\#
hardware/*/*-backups

# gerber output files
hardware/mainboard/gerbers
hardware/frontpanel/gerber

# build directories and binaries
firmware/build
firmware/tests/build
firmware/tests/TapeLooper_gtest
dsp/tests/build
dsp/tests/TapeLooperDSP_gtest
plugin/build

# macOS crap
.DS_Store
