[submodule "firmware/lib/libDaisy"]
	path = firmware/lib/libDaisy
	url = https://github.com/electro-smith/libDaisy
[submodule "firmware/lib/googletest"]
	path = firmware/lib/googletest
	url = https://github.com/google/googletest.git
