[submodule "lib/libDaisy"]
	path = lib/libDaisy
	url = https://github.com/electro-smith/libDaisy
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
[submodule "plugin/lib/JUCE"]
	path = plugin/lib/JUCE
	url = https://github.com/juce-framework/JUCE.git
